<!DOCTYPE html>
<html lang="en">
<head>
  <title>Socket Chat!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <!--  <a class="nav-item nav-link active" href="#">App <span class="sr-only">(current)</span></a> -->
        <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
        <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
      </div>
    </div>
  </nav>
  
  <section id="content">
    
  </section>
l 
  <!--<script src="/socket.io/socket.io.js"></script>-->
  <script src="/assets/loginBundle.js"></script>
  <!--<script src="/assets/client.js"></script>-->
</body>
</html>