<!DOCTYPE html>
<html lang="en">
<head>
  <title>Not Found</title>
</head>
<body>
    <h1>404 the {{page}} Page was Not Found</h1>
    <a class="navbar-brand" href="/app">App</a>
    <img src="/assets/img/internet.png">
</body>
</html>